<form action="/questions" method="post">
  <div class='form-group'>
    <label for="query">Enter your question</label>
    <input type="text" name="query" class='form-control'>
  </div>
  <button type='submit'>Submit</button>
</form>
