<form action="/questions/<%= @question.id %>" method="post">
  <div class='form-group'>
    <input type="hidden" name="_method" value="patch">
    <label for="query">Enter your question</label>
    <input type="text" name="query" class='form-control'>
  </div>
  <button type='submit'>Submit</button>
</form>

<form action="/questions/<%= @question.id %>" method="post">
  <div class='form-group'>
    <input type="hidden" name="_method" value="delete">
  </div>
  <button type='submit'>Delete</button>
</form>
