<h1>Hi <%=@user.name%></h1>

<h2>List of Surveys:</h2>
<ul>
  <% Survey.all.each do |survey| %>
    <li><a href="/users/<%= @user.id %>/surveys/<%= survey.id %>"><%= survey.title %></a></li>
  <% end %>
</ul>
